.AnimatedTextComponent {
  background: theme(colors.night);
  white-space: nowrap;
  position: absolute;
  left: 0;
  gap: 0.5rem;
  padding: theme(space.2);
  width: 100vw;
  height: 43px;
  border-bottom: 1px solid #333;
}
.bottom {
  bottom: 0;
}
.top {
  top: 0;
}

.wrapper {
  animation-name: scroll;
  animation: scroll 60s linear infinite;
}

.AnimatedTextComponent span {
  font-style: normal;
  font-weight: theme(fontWeight.medium);
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.115em;
  margin: 0 15px;
  gap: 0.5rem;
  text-transform: uppercase;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 100px));
  }
}
